/* Resoppistive css */
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 880px) {
  .top-banner,
  .main-meun,
  .head-info {
    display: none;
    visibility: hidden;
  }
  .offcanvas-menu {
    width: 32%;
  }
  .logo img {
    width: 107px;
  }
  .offcanvas-menu.show-menu {
    right: 13px;
  }
  .menu-trigger {
    top: -63px;
    right: 43px;
  }
  .head-offer-btn {
    margin-right: 13px;
    margin-left: 119px;
  }

  .homepage-slider .single-sliders .slider-text {
    margin-left: 0;
  }
  .homepage-btn {
    margin-right: 5px;
    padding: 10px 16px;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }
  .about h5 {
    margin-top: 119px;
  }
  .about-info h3 {
    font-size: 35px;
  }
  .our-progress {
    height: 15vh;
  }
  .service-txt,
  .team-title p,
  .Testimonial-txt p {
    padding: 0 0;
  }
  .help-txt-bg {
    height: 420px;
  }
  .help::before,
  .help::after {
    height: 115%;
  }
  .help-txt {
    width: 58%;
    margin-left: 228px;
    margin-top: 39px;
    padding: 40px 19px;
  }
  .comment-txt h3 {
    font-size: 11px;
    margin-bottom: -1px;
  }
  .comment-txt span {
    color: #ff5e15;
    font-size: 11px;
  }
  .comment-txt p {
    font-size: 11px;
  }
  .brands-img {
    height: 52px;
  }
  .newsletter {
    width: 73%;
    padding: 22px 0;
  }
  .newsletter input {
    margin-left: 22px;
  }
  .post-img img {
    width: 100%;
    height: 7vh;
    margin-top: -9px;
  }
  .footer-blogs h4 {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}

@media screen and (max-width: 480px) {
  .offcanvas-menu {
    width: 73%;
  }
  .offcanvas-menu.show-menu {
    right: 0px;
  }
  .head-offer-btn,
  .head-search,
  .our-progress,
  .project-hover,
  .brands {
    display: none;
  }
  .homepage-slider .single-sliders {
    padding: 69px 32px;
  }
  .about {
    margin: 100px 0;
  }
  .about-info h3 {
    font-size: 16px;
  }

  .about-info {
    height: 50%;
  }
  .help::before,
  .help::after {
    height: 117%;
  }
  .help-txt-bg {
    height: 369px;
  }
  .help-txt {
    width: 86%;
    margin-left: 54px;
    padding: 19px 12px;
  }
  .help-txt h4::before {
    opacity: 0;
  }
  .newsletter {
    left: 27px;
    width: 84%;
    padding: 18px 0;
  }

  .newsletter input {
    margin-left: 0;
  }
  .footer-blogs h4 {
    font-size: 14px;
  }
  footer {
    padding-top: 235px;
  }
  .post-img img {
    margin-top: -21px;
  }
}

@media screen and (max-width: 320px) {
}
